body
{
    background-color:#23326a;
    font-family: 'Source Sans Pro', sans-serif;
}
h2
{
    color: white;
    text-align: center;
}
p
{
    color:black
}
footer
{
    background-color: #393D42;
    text-align: center;
    padding-top: 30px;
    color: white;
}
.logos
{
    margin: 650px;
}
table
{
    width:70%; border-collapse:collapse;
    background-color:red;
}
td
{
    border:2px solid black;
    text-align: center;
}
#facebook
{
    display: block;
    margin: auto;
    text-align: center;
}
article
{
    background-color: #FFCC00;
    padding: 15px 15px 100px 15px;
    margin: 75px;
    border-radius: 15px;
}
aside
{
    text-align: center;
}